    .modal-content {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 500px;
    max-width: 90%;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  